body {
  width: 100%;
  height : 100vh;
}

.hhh {
  margin: 0 auto;
  width: 30%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hhh input {
  margin: 0 10px;
}